<div ng-show="guest.modalShown" class="center-div modalForm">
          <p>Are you sure you want to delete {{guest.deletingPerson.firstName}} {{guest.deletingPerson.lastName}}?</p>
              <button
                class="btn btn-default delete-person-button"
                ng-click = "guest.deleteGuest(guest.deletingPerson._id)">Delete
              </button>
              <button
                class="btn btn-danger delete-person-button"
                ng-click= "guest.modalShown = false">Cancel
            </button>
</div>
