<div ng-controller="GuestController as guest"
     ng-init="guest.getAll()">

 <div class="container">
  <div class="row adminRow">

      <div class="input-group col-md-4">
        <input type="text"
               class="form-control names"
               ng-model="searchBox.firstName"
               placeholder="Search Guest">
              <span class="input-group-addon" id="basic-addon2">
              <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>

         <button type="button"
                 class="btn btn-secondary">Registered
                 <span class="badge badge-default">{{guest.registeredGuests}}</span>
         </button>

         <button type="button"
                  class="btn btn-secondary"
                  ng-model="guest.eventFilter"
                  ng-click="guest.filterBy('White Wedding')">
                  <i class="fa fa-filter" aria-hidden="true"></i>White
                  <span class="badge badge-default">{{guest.whiteWeddingGuestsTotal}}</span>
          </button>

          <button type="button"
                  class="btn btn-secondary"
                  ng-model="guest.eventFilter"
                  ng-click="guest.filterBy('Traditional Wedding')">
                  <i class="fa fa-filter" aria-hidden="true"></i>Traditional
                  <span class="badge badge-default">{{guest.traditionalGuestsTotal}}</span>
          </button>

          <button type="button"
                  class="btn btn-secondary">Total
            <span class="badge badge-default">{{guest.totalGuests}}</span>
          </button>

          <button
            type="button"
            class="btn btn-secondary add-guest"
            ng-click="guest.rsvpGuest()">
              <i class="fa fa-user-plus"
                 aria-hidden="true"></i>
          </button>

          <div class="container rsvp-container mt-4" ng-show="guest.rsvpForm">

          <div>

            <i class="fa fa-window-close"
               ng-click="guest.rsvpGuest()"
               aria-hidden="true">
           </i>
              <h1 class="rsvp-title">RSVP</h1>


                <form class="form-group"
                      name="guestRSVPForm"
                      ng-submit="guest.AddGuest()" >

                    <div class="form-group row" >

                        <div class="col-md-2 ">
                          <label for="ex1">First Name:*</label>
                            <input type = "text"
                                   class="form-control"
                                   ng-model="guest.newGuest.firstName"
                                   required/>
                        </div>

                        <div class="col-md-2">
                          <label for="ex1">Surname:*</label>
                            <input type= "text"
                                   class="form-control"
                                   ng-model="guest.newGuest.lastName"
                                   required/>
                        </div>

                      <div class="col-md-3">
                         <label for="ex1">Email:</label>
                           <input  type="textcD"
                                   class="form-control" id="ex2"
                                   ng-model="guest.newGuest.email">
                       </div>

                       <div class="col-md-2">
                         <label for="ex1">No.</label>
                           <input type="text"
                                  class="form-control" id="ex3"
                                  ng-model="guest.newGuest.number">
                       </div>

                      <div class="col-md-1">
                        <label for="ex1">+Guests*</label>
                          <br>
                          <select class="plus-guest-input-box"
                                  ng-model="guest.newGuest.extraGuests"
                                  ng-options="option for option in guest.extraGuestsOptions">
                            <option value="">0</option>
                          </select>
                      </div>

                      <div class="col-md-2">
                        <label for="ex1">Attending*</label>
                          <div ng-repeat="event in guest.eventOptions">
                            <input type="radio"
                                   ng-model="guest.newGuest.attendingEvents"
                                   ng-value="event">{{ event }}
                          </div>
                      </div>


                      <input type="submit"
                             class="btn btn-success add-guest-submit"
                             value="Confirm"/>

                </div>

              </form>

            </div>
          </div>

  </div>

<!-- GUEST TABLE -->
  <div class="container">
    <table class="table table-hover">
      <thead class="tableHead">
        <tr>
          <th>No.</th>

          <th class="nameHeader">Names
            <i class="fa fa-sort"
               ng-click="guest.orderBy('firstName')">
            </i>
          </th>

          <th>Contact</th>

          <th>Attending Events
            <i class="fa fa-sort"
               ng-click="guest.orderBy('attendingEvents')">
            </i>
          </th>

          <th>+ Guests
            <i class="fa fa-sort"
               ng-click="guest.orderBy('extraGuests')"></i>
          </th>

          <th>Actions</th>
        </tr>
      </thead>
  </table>

  <div style="height: 500px; overflow-y: scroll">
    <table class="table table-hover">
      <tbody>

      <tr ng-repeat="person in guest.guests | filter:searchBox | filter:guest.eventFilter | orderBy: guest.headerSort track by $index">

          <td>{{ $index + 1 }}</td>

          <td ng-hide="editMode" class="names" >{{ person.firstName}} {{ person.lastName}}</td>
            <td ng-show="editMode">
              <input
                class="editName"
                type="text"
                ng-value="person.firstName"
                ng-model="guest.updatedGuest.firstName"/>

              <input
                class="editName"
                type="text"
                ng-model="guest.updatedGuest.lastName"
                ng-value="person.lastName"/>
            </td>

            <td ng-hide="editMode">
              <a ng-href="mailto:{{person.email}}" target="_top">
                <i class="fa fa-envelope-o" aria-hidden="true" ng-hide="isPhoneNumberShowing" ></i>
              </a>
              <i class="fa fa-phone"
                 aria-hidden="true"
                 ng-click="isPhoneNumberShowing = !isPhoneNumberShowing">
                 <p ng-show="isPhoneNumberShowing" class="admin-phonenumber">{{person.number}}</p>
              </i>
            </td>

          <td ng-hide="editMode" class="admin-attending-events">{{ person.attendingEvents}}</td>
            <td ng-show="editMode">
                <select ng-model="guest.updatedGuest.attendingEvents">
                  <option
                    ng-repeat="event in guest.eventOptions"
                    ng-selected="event"
                    ng-value="event">{{ event }}
                  </option>
                </select>
            </td>


          <td ng-hide="editMode">{{ person.extraGuests}}</td>
            <td ng-show="editMode">
              <select ng-model="guest.updatedGuest.extraGuests">
                <option value="0" ng-selected="guest.updatedGuest.extraGuests === 0">0</option>
                <option
                  ng-repeat="option in guest.extraGuestsOptions"
                  ng-selected="option"
                  ng-value="option ">{{ option }}
                </option>
              </select>
            </td>

            <td  class="actionColumn">
              <button
                type="submit"
                class="btn btn-secondary"
                ng-hide="editMode"
                ng-click="editMode = true; guest.editGuest(person); guest.disableEdit()"
                ng-disabled="guest.isEditDisabled">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>

              <button
                type="button"
                class="btn btn-success"
                ng-show="editMode"
                ng-click="guest.updateGuest(guest.updatedGuest)">Save
             </button>

              <button
                type="button"
                class="btn btn-danger"
                ng-show="editMode"
                ng-click="editMode = false; guest.enableEdit()">Undo
              </button>

               <button
                 type="button"
                 class="close"
                 aria-label="Close"
                 ng-hide="editMode"
                 ng-click="guest.openModal(person)">
               <span aria-hidden="true">&times;</span>
              </button>
            </td>

        </tr>

      </tbody>
    </table>
  </div>

  </div>
</div>


<!-- DELETE GUEST MODAL -->
  <div ng-show="guest.modalShown" class="center-div modalForm">
    <p>Are you sure you want to delete {{guest.deletingPerson.firstName}} {{guest.deletingPerson.lastName}}?</p>
    <button
      class="btn btn-default delete-person-button"
      ng-click = "guest.deleteGuest(guest.deletingPerson._id)">Delete
    </button>

    <button
      class="btn btn-danger delete-person-button"
      ng-click= "guest.modalShown = false">Cancel
    </button>
  </div>
</div>
